
body {
  background-image: url("wheat.png");
}
#out {
  font-size: 18pt;
  font-weight: bold;
  
  color: #c8e6ff;
  text-shadow: 2px 0px rgb(0, 0, 0);
  
}
#myBtn {
  background-color: #3B3035; 
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 3px;
  margin-left: 5px;
}

input[type=number] {
  font-weight: bold  ;
  color: black;
  border-color: #3B3035;
  border-radius: 3px;
  width: 100px;
  height: 19px;
  background-color: #8d98a1;

}
#text1 {
  width:  45%;
  height: auto;
  resize: none;
  border-radius: 3px;
  margin-left: 15px;
  background: transparent;
  color: #c8e6ff;
  font-size: 12pt;
}

#text {
  width:  45%;
  height: auto;
  resize: none;
  border-radius: 3px;
  background: transparent;
  color: #c8e6ff;
  font-size: 12pt;
  
}

#but1 {
  background-color: #3B3035;  
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 3px;
  
  
  
}
#but2 {
  background-color: #3B3035;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 3px;
  margin-left: 33%;
  
}
 h3 {
  font-weight: lighter;
  
  color: #c8e6ff;
  text-shadow: 1px 0px rgb(0, 0, 0);
  
 }