body {
  background-image: url("wheat.png");
}
#out {
  font-size: 18pt;
  font-weight: bold;
  margin-left: 80px;
  color: #c8e6ff;
  text-shadow: 2px 0px rgb(0, 0, 0);;
  
}
#myBtn {
  background-color: #3B3035; 
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 3px;
  margin-left: 5px;
}

input[type=number] {
  font-weight: bold  ;
  color: black;
  border-color: #3B3035;
  border-radius: 3px;
  width: 100px;
  height: 19px;
  background-color: #8d98a1;

}
textarea {
  width:  auto;
  height: auto;
  resize: none;
  border-radius: 3px;
  margin-left: 10px;
  background: transparent;
  color: #c8e6ff;
}

#but1 {
  background-color: #3B3035;  
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 3px;
  margin-left: 105px;
  
}
#but2 {
  background-color: #3B3035;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 3px;
  margin-left: 205px;
  margin-top: 5px;
}

